body{
    background-color: #edede9;
    font-family: 'Lora', serif;
}
img {
    width: 30%;
}
p {
    text-align: right;
}
h1 {
    text-align: center;
}

button {
	border: 3px solid #d5bdaf;
    font-family: 'Roboto Slab', serif;
    font-size: large;
    color: white;
}

button:hover {
	border: 3px dashed #d5bdaf;
	color:#d5bdaf;
	
}